#Node modules
ipad-fe/node_modules


#Python
ipad-be/__pycache__
ipad-be/app/calculator/__pycache__


#frontend env
ipad-fe/.env.local
ipad-fe/src/vite-env.d.ts

#backend env
ipad-be/.env
ipad-be/venv


node_modules
